@font-face {
  font-family: "Quicksand";
  src: url("chrome-extension://__MSG_@@extension_id__/quicksand.ttf");
}

*,
html,
body {
  font-family: "Quicksand";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand" !important;
}

.navbar {
  background: none !important;
  margin-top: 20px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
}

body {
  background-color: #0e1726 !important;
}
.fancy-bg {
  padding-top: 40px;
}

.fancy-bg .position-relative {
  background: #060818 !important;
  border-radius: 25px !important;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
  background: url(/images/homepage/background-resized-6bc48b1….webp?vsn=d)
    no-repeat top;
}

.fancy-bg {
  background: none !important;
}

h5.mb-0 {
  margin-bottom: 3px !important;
}

.badge {
  border-radius: 25px !important;
  font-size: 85% !important;
}

.btn {
  border-radius: 45px !important;
}

.card-body {
  background: #060818 !important;
}

.alert-warning {
  color: #ffffff !important;
  background-color: #c82333 !important;
  border-radius: 25px !important;
  border: none !important;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
  width: fit-content !important;
  margin: auto !important;
}

.card {
  background: transparent !important;
  margin-right: 0 !important;
  width: 100% !important;
  border: none !important;
}

.input-group {
  width: 91%;
  border-radius: 25px !important;
  background: #060818;
  height: 38px;
  margin: auto;
}

div#chat-column {
  height: auto;
  margin-bottom: 165px;
}

#chat .chat-messages {
  border-radius: 25px;
  margin-bottom: 20px !important;
}

.jumbotron-glimesh,
.jumbotron-mature-content {
  height: 62.5vh !important;
  border-radius: 25px !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  border-radius: 25px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
}

.card-header {
  background-color: transparent !important;
  border: none !important;
}

h1.display-4.font-weight-normal {
  text-align: center;
}

.chat-messages::-webkit-scrollbar {
  display: none !important;
}

.bubble {
  border-radius: 25px !important;
}

.card-stream img {
  border-radius: 25px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
}

.jumbotron-glimesh {
  background: transparent !important;
}

video#video-player {
  border-radius: 25px;
}

a.input-group-text.emoji-activator {
  background: transparent;
}

a.input-group-text.dropdown-toggle {
  background: transparent;
}

.input-group-text {
  border: none !important;
}

.form-control {
  background-color: transparent !important;
  border: none !important;
}

.card-footer:last-child {
  /* border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px); */
  margin-top: 20px !important;
  border-radius: 25px !important;
  width: 135% !important;
  padding: 0 !important;
  background: #060818 !important;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px !important;
}

.card-footer > .row {
  margin-top: 25px !important;
}

.card-header:first-child {
  background-color: transparent !important;
}

#profile > .card-footer {
  width: 100% !important;
  padding: 25px !important;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  color: #ffffff !important;
}

.navbar {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

#streamer-avatar > a > img {
  width: 142px !important;
  height: 142px !important;
  border-radius: 25px !important;
}

.img-avatar {
  border-radius: 50%;
  border: none !important;
}

.embed-responsive {
  width: 100% !important;
}

.container-fluid > .row {
  margin-right: 10% !important;
  margin-left: 10% !important;
}

#app {
  background: #0e1726 !important;
}

.col-md-12 {
  text-align: left !important;
  padding: 0 !important;
}

.p-lg-5 {
  padding: 0 !important;
  margin: 0 !important;
}
